[Unit]
Description=Clanman service
After=linuxsampler.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/clanman
ExecStart=/home/pi/clanman/clanman
Type=simple

[Install]
WantedBy=multi-user.target